/* ==========================================================================
   Default Variable Definitions
   ========================================================================== */

/* ./partials/utils/_default.scss
   ========================================================================== */

/**
 * Defines default variables
 *
 * The first sentence of the long description starts here and continues on this
 * line for a while finally concluding here at the end of this paragraph.
 *
 *
 * TODO: This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */

/* Define default variable values */

/** _Default_ Values **/

// Default Colors
$default-default-button-color    : $medium-gray-color !default;
$default-primary-button-color    : $electric-violet-blue-color !default;
$default-secondary-button-color  : $dark-gray-color !default;
$default-light-button-text-color : #444444 !default;
$default-dark-button-text-color  : white !default;
$default-custom-outline-color    : rgba($default-primary-button-color, 0.25);
$default-custom-outline          : 0 0 0 3px $default-primary-button-color;
$default-button-border-color     : $default-default-button-color;

// Default Sizes
$default-button-corner-radius    : 0.25em;
$default-button-padding          : 0 1em;
$default-minimum-width           : 6em;
$default-button-breakpoints      : 35em;
$default-block-button-margins    : 0 0 1em 0;
$default-inline-button-margins   : 0 1em 1em 0;
$default-block-button-width      : 100%;
$default-inline-button-width     : unset;
$default-button-border-width     : 2px;
$default-button-border-type      : solid;
$default-button-letter-spacing   : 0.75px;
$outline-button-letter-spacing   : 1px;
$default-rounded-border-radius   : 3em;
$default-icon-size               : 2em;
$default-full-width              : 100%;

// Default Typographic Attributes
$default-fallback-fontstack      : system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
$default-button-font-size        : 1em;
$default-button-line-height      : 2;
$default-button-font-weight      : 600;
$default-outline-font-weight     : 500;
$default-text-transform          : capitalize;
$default-text-decoration         : none;

// Default Attributes
$default-button-appearance       : none;
$default-button-transition       : all 120ms ease-out;
$default-button-outline          : none;
$default-button-cursor           : pointer;
$default-button-block-display    : block;
$default-button-inline-display   : inline-block;
$default-button-user-select      : none;

// Default Interaction State Changes
//$default-transform               : translateY(2px);
$default-transform               : translate3d(0, 2px, 0);
$default-no-transform            : translate3d(0, 0, 0);
$default-hover-change            : 10%;
$default-focus-change            : 15%;
$default-active-change           : 20%;
$default-disabled-change         : 0.25;
