/*
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Web Button Styles : _web-button-styles.scss
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Main source file that styles button and button-like elements.
 *
 * This is the primary file that defines the package content.
 *
 * It's used both for the SCSS content of the distributed files and also as the
 * source that is compiled to produce the CSS content of the distributed files
 * (of which, is then optimized to produce an autoprefixed version, and then
 * also a compressed, minified version).
 *
 * TODO: Better optimize these styles and maybe improve the mixins.
 */

/**
 *------------------------------------------------------------------------------
 * @name   : _web-button-styles.scss

	* @desc   : Package Source AND Distribution File
	*
	* @usage  :
	*   For Development...
	*           TESTING  :   ($) npm start
	*           BUILDING :   ($) npm run build-production
	*
	*   Production Usage...
	*           as SCSS file : @import "web-button-styles"
	*           as CSS file  : <link href="web-button-styles.min.css type="text/css">
	*
	* @output : (->) web-button-styles.min.css,
	*           (->) web-button-styles.css
	*------------------------------------------------------------------------------
 */

/**
 * -----------------------------------------------------------------------------
 * Table of contents
 * -----------------------------------------------------------------------------
 * 1. Vendor (dependency) imports
 * 2. Variable Defaults            (<- Don't change these...  instead...)
 * 3. Variables                    (<- ... to tweak button styles, change these)
 * 4. Functions
 * 5. Mixins
 * 6. Placeholders
 * 7. Styles
 **/

//==============================================================================

// *————————————————————————————————————————————————————————————————————————————
// * Section                                                      Vendor Imports
// *————————————————————————————————————————————————————————————————————————————
@import "~sanitize.css/sanitize.css";
@import "~modern-normalize/modern-normalize.css";
@import "~mobi.css/dist/mobi.min.css";
@import "~inter-ui/inter-hinted";

// *————————————————————————————————————————————————————————————————————————————
// * Section                                                   Variable Defaults
// *————————————————————————————————————————————————————————————————————————————

/** DO NOT CHANGE THESE VAULES IN ORDER TO ALTER BUTTON STYLES **/

/* Define default variable values */

// Color Primitives
$electric-violet-blue-color      : #6600ff;
$dark-gray-color                 : #434343;
$medium-gray-color               : #efefef;

// Variant and Style Primitives
$solid-border-style              : solid;
$outline-button-variant          : outline;
$rounded-button-variant          : round;

// Outine Button Style Primitives
$outline-button-hover-alpha      : 0.1;
$outline-button-focus-alpha      : 0.2;
$outline-button-active-alpha     : 0.3;

/** _Default_ Values **/

// Default Colors
$default-default-button-color    : $medium-gray-color !default;
$default-primary-button-color    : $electric-violet-blue-color !default;
$default-secondary-button-color  : $dark-gray-color !default;
$default-light-button-text-color : #444444 !default;
$default-dark-button-text-color  : white !default;
$default-custom-outline-color    : rgba($default-primary-button-color, 0.25);
$default-custom-outline          : 0 0 0 3px $default-primary-button-color;
$default-button-border-color     : $default-default-button-color;

// Default Sizes
$default-button-corner-radius    : 0.25em;
$default-button-padding          : 0 1em;
$default-minimum-width           : 6em;
$default-button-breakpoints      : 35em;
$default-block-button-margins    : 0 0 1em 0;
$default-inline-button-margins   : 0 1em 1em 0;
$default-block-button-width      : 100%;
$default-inline-button-width     : unset;
$default-button-border-width     : 2px;
$default-button-border-type      : solid;
$default-button-letter-spacing   : 0.75px;
$outline-button-letter-spacing   : 1px;
$default-rounded-border-radius   : 3em;
$default-icon-size               : 2em;
$default-full-width              : 100%;

// Default Typographic Attributes
$default-fallback-fontstack      : system-ui, -apple-system, BlinkMacSystemFont,
																																			Helvetica Neue, Helvetica, Arial, sans-serif;
$default-button-font-size        : 1em;
$default-button-line-height      : 2;
$default-button-font-weight      : 600;
$default-outline-font-weight     : 500;
$default-text-transform          : capitalize;
$default-text-decoration         : none;

// Default Attributes
$default-button-appearance       : none;
$default-button-transition       : all 120ms ease-out;
$default-button-outline          : none;
$default-button-cursor           : pointer;
$default-button-block-display    : block;
$default-button-inline-display   : inline-block;
$default-button-user-select      : none;

// Default Interaction State Changes
//$default-transform               : translateY(2px);
$default-transform               : translate3d(0, 2px, 0);
$default-no-transform            : translate3d(0, 0, 0);
$default-hover-change            : 10%;
$default-focus-change            : 15%;
$default-active-change           : 20%;
$default-disabled-change         : 0.25;

$default-button-element-selectors :
											("button,[type=button],[type=reset],[type=submit],.button") !default;

// *————————————————————————————————————————————————————————————————————————————
// * Section                                                           Variables
// *————————————————————————————————————————————————————————————————————————————

/* Fontstacks */
$default-fontstack--fallback     : -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$fontstack--inter                : "Inter", Inter, "Inter", inter, "inter";
$fontstack                       : $fontstack--inter, $default-fontstack--fallback;

//——————————————————————————————————————————————————————————————————————————————
/* _Applied_ Default Values */

/** To alter button styles, change these values. */

/* Colors */
$default-button-color            : $default-default-button-color !default;
$default-button-text-color       : $default-light-button-text-color !default;
$primary-button-color            : $default-primary-button-color !default;
$primary-button-text-color       : $default-dark-button-text-color !default;
$secondary-button-color          : $default-secondary-button-color !default;
$secondary-button-text-color     : $default-dark-button-text-color !default;
$button-border-color             : $default-button-border-color !default;
$outline-button-background-color : transparent !default;
$outline-button-border-color     : $default-button-color !default;
$outline-button-text-color       : $default-button-color !default;

/* Sizes */
$button-corner-radius            : $default-button-corner-radius !default;
$button-padding                  : $default-button-padding !default;
$button-breakpoint               : $default-button-breakpoints !default;
$button-minimum-width            : $default-minimum-width !default;
$button-block-style-margins      : $default-block-button-margins !default;
$button-inline-style-margins     : $default-inline-button-margins !default;
$button-block-style-width        : $default-block-button-width !default;
$button-inline-style-width       : $default-inline-button-width !default;
$button-border-width             : $default-button-border-width !default;
$button-border-style             : $solid-border-style !default;
$rounded-button-border-radius    : $default-rounded-border-radius !default;
$button-letter-spacing           : $default-button-letter-spacing !default;

/* Typographic Characteristics */
$button-fontstack                : $default-fallback-fontstack !default;
$button-fontstack                : $fontstack !default;
$button-font-size                : $default-button-font-size !default;
$button-font-weight              : $default-button-font-weight !default;
$outline-button-font-weight      : $default-outline-font-weight !default;
$button-line-height              : $default-button-line-height !default;
$button-text-transform           : $default-text-transform !default;
$button-text-decoration          : $default-text-decoration !default;

/* Button Attributes */
$button-appearance               : $default-button-appearance !default;
$button-transition               : $default-button-transition !default;
$button-outline                  : $default-button-outline !default;
$button-cursor                   : $default-button-cursor !default;
$button-block-display            : $default-button-block-display !default;
$button-inline-display           : $default-button-inline-display !default;

/* Custom Focus-Effect or Outline */
$custom-outline-color            : rgba($default-primary-button-color, 0.25);
$custom-outline                  : 0 0 0 3px $custom-outline-color !default;
$focus-fx-color                  : rgba($primary-button-color, 0.25) !default;
$focus-fx-width                  : 3px !default;
$focus-fx                        : 0 0 0 $focus-fx-width $focus-fx-color !default;

/* Interaction State Changes */
$button-transform                : $default-transform !default;
$button-hover-change             : $default-hover-change !default;
$button-focus-change             : $default-focus-change !default;
$button-active-change            : $default-active-change !default;

/* Button Element Selectors */
$button-element-selectors        : #{$default-button-element-selectors} !default;

/* Button Configuration Settings */

// Convenience base-color setting
$_this-button-color              : $default-button-color !default;

// Button type default settings
$default-button-type             : default !default;
$primary-button-type             : primary !default;
$secondary-button-type           : secondary !default;

// Default settings for button type bool values
$is-rounded-button               : false !default;
$is-outline-button               : false !default;

// *————————————————————————————————————————————————————————————————————————————
// * Section                                                           Functions
// *————————————————————————————————————————————————————————————————————————————

/** Interaction Change Functions */

// Return specified color darkened by 10%
@function button-hover-color($base: $default-button-color) {
	@return darken($base, $button-hover-change);
}

// Return specified color darkened by 15%
@function button-focus-color($base: $default-button-color) {
	@return darken($base, $button-focus-change);
}

// Return specified color darkened by 20%
@function button-active-color($base: $default-button-color) {
	@return darken($base, $button-active-change);
}


/** Button Creation Functions */

// Set Button Border With Specified Color
@function set-button-border-with-color($color) {
	$_border : $button-border-width $button-border-style $color;
	@return $_border;
}

// Get the border shorthand property rule from just color value
@function border-with-color($_color) {
	$_border : $button-border-width $button-border-style $_color;
	@return $_border;
}

// *————————————————————————————————————————————————————————————————————————————
// * SECTION                                                              Mixins
// *————————————————————————————————————————————————————————————————————————————

// Style given button for EACH/ALL of it's state changes...
@mixin set-button-state-changes-for($_base-color, $_is-outline: false) {

	$_this-button-color : $_base-color;

	$_this-hover-color  : button-hover-color($_this-button-color);
	$_this-focus-color  : button-focus-color($_this-button-color);
	$_this-active-color : button-active-color($_this-button-color);

	border              : border-with-color($_this-button-color);
	@if ($_is-outline == true) {
		background-color : transparent;
		color            : $_this-button-color;
		font-weight      : $outline-button-font-weight;
		&:hover {
			background-color : transparent;
			border           : set-button-border-with-color($_this-hover-color);
			color            : $_this-hover-color;
		}
		&:focus {
			background-color : transparent;
			border           : set-button-border-with-color($_this-focus-color);
			color            : $_this-focus-color;
		}
		&:active {
			background-color : transparent;
			border           : set-button-border-with-color($_this-active-color);
			color            : $_this-active-color;
		}
	} @else {
		&:hover {
			border           : set-button-border-with-color($_this-hover-color);
			background-color : $_this-hover-color;
		}
		&:focus {
			border           : set-button-border-with-color($_this-focus-color);
			background-color : $_this-focus-color;
		}
		&:active {
			border           : set-button-border-with-color($_this-active-color);
			background-color : $_this-active-color;
		}
	}
}

// Set Button Background-Color With Specified Color
@mixin set-button-background-color($color: $default-button-color) {
	$_this-color     : $color;
	background-color : $_this-color;
	&:hover {
		background-color : button-hover-color($_this-color);
	}
	&:focus {
		background-color : button-focus-color($_this-color);
	}
	&:active {
		background-color : button-active-color($_this-color);
	}
	&:disabled {
		background-color : darken($_this-color, 5%);
		opacity          : $default-disabled-change;
		pointer-events   : none;
		cursor           : not-allowed;
	}
}

// Create an "Outline" (or "Ghost") button variant type
@mixin outline-button($color: $default-button-color) {
	$is-outline-button : true;
	background-color   : $outline-button-background-color;
	border-color       : $color;
	color              : $color;
	&:hover {
		background-color : rgba($color, $outline-button-hover-alpha);
		border-color     : button-hover-color($color);
		color            : button-hover-color($color);
	}
	&:focus {
		background-color : rgba($color, $outline-button-focus-alpha);
		color            : button-focus-color($color);
		border-color     : $primary-button-color;
		box-shadow       : $focus-fx;
		outline          : $button-outline;
	}
	&:active {
		background-color : rgba($color, $outline-button-active-alpha);
		border-color     : button-active-color($color);
		color            : button-active-color($color);
	}
}

// *————————————————————————————————————————————————————————————————————————————
// * Section                                                        Placeholders
// *————————————————————————————————————————————————————————————————————————————

/* Remove the anboying style iOS adds to buttons when tapped (active) */
%remove-iOS-tap-highlight {
	//noinspection CssOverwrittenProperties
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0.0) !important;
	//noinspection CssOverwrittenProperties
	-webkit-tap-highlight-color : transparent !important;
}

/* Base Button Styles (Placeholder) */
%button-base {
	appearance           : $button-appearance !important;
	//user-select          : $default-button-user-select                 !important;
	user-select          : none !important;

	*, *::before, *::after {
		user-select : none !important;
		box-sizing  : border-box !important;
	}

	$_this_button_border : set-button-border-with-color($_this-button-color);

	background-color     : $_this-button-color;
	border               : $_this_button_border;
	border-radius        : $button-corner-radius;
	color                : $default-button-text-color;
	cursor               : $button-cursor;
	display              : $button-block-display;
	font-family          : $button-fontstack !important;
	font-size            : $button-font-size;
	font-weight          : $button-font-weight;
	letter-spacing       : $button-letter-spacing;
	line-height          : $button-line-height;
	//line-height : 1 !important;
	margin               : $button-block-style-margins;
	min-width            : $default-full-width;
	outline              : $button-outline;
	padding              : $button-padding;
	text-decoration      : $button-text-decoration;
	text-transform       : $button-text-transform;
	transform            : $default-no-transform;
	transition           : $button-transition;
	width                : $button-block-style-width;

	@extend %remove-iOS-tap-highlight;

	@media screen and (min-width : $button-breakpoint) {
		display   : $button-inline-display;
		margin    : $button-inline-style-margins;
		min-width : $button-minimum-width;
		width     : $default-inline-button-width;
	}

	&:hover {
		$_hover-color    : button-hover-color($default-button-color);
		background-color : $_hover-color;
		border-color     : $_hover-color;
		outline          : $button-outline;
	}

	&:focus {
		$_focus-color    : button-focus-color($default-button-color);
		background-color : $_focus-color;
		border-color     : $_focus-color;
		box-shadow       : $focus-fx;
		outline          : $button-outline;
	}

	&:active {
		$_active-color   : button-active-color($default-button-color);
		background-color : $_active-color;
		border-color     : $_active-color;
		transform        : $button-transform;
	}

}

// *————————————————————————————————————————————————————————————————————————————
// * Section                                                              Styles
// *————————————————————————————————————————————————————————————————————————————

// Apply styles to buttons and button-like elements
#{$button-element-selectors} {
	$is-outline-button  : false;
	@extend %button-base;
	$_this-button-color : $default-button-text-color !default;
	background-color    : $default-button-color;
	border              : $default-button-color solid 2px;
	color               : $default-button-text-color;

	@include set-button-background-color($_this-button-color);
	@include set-button-state-changes-for($_this-button-color);

	&.primary {
		$_this-button-color : $primary-button-color;
		background-color    : $_this-button-color;
		border-color        : $_this-button-color;
		color               : $default-dark-button-text-color;
		@include set-button-background-color($_this-button-color);
		@include set-button-state-changes-for($primary-button-color);

		&.outline {
			@include set-button-state-changes-for($_this-button-color, true);
			letter-spacing : $outline-button-letter-spacing !important;
			font-weight : 500 !important;
			&:hover {
				background-color : rgba($_this-button-color, 0.1) !important;
			}
			&:focus {
				background-color : rgba($_this-button-color, 0.125) !important;
			}
			&:active {
				background-color : rgba($_this-button-color, 0.25) !important;
			}
		}
	}
	&.secondary {
		$_this-button-color : $secondary-button-color;
		background-color    : $_this-button-color;
		border-color        : $_this-button-color;
		color               : $default-dark-button-text-color;
		@include set-button-state-changes-for($secondary-button-color);

		&.outline {
			@include set-button-state-changes-for($_this-button-color, true);
			font-weight : 500 !important;
			&:hover {
				background-color : rgba($_this-button-color, 0.1) !important;
			}
			&:focus {
				background-color : rgba($_this-button-color, 0.125) !important;
			}
			&:active {
				background-color : rgba($_this-button-color, 0.25) !important;
			}
		}
	}
	&.outline {
		$_this-button-color : $default-button-text-color;
		background-color    : transparent;
		border              : $default-button-text-color solid 2px;
		color               : $default-button-text-color;
		font-weight         : 500 !important;
		letter-spacing : $outline-button-letter-spacing !important;
		@include set-button-state-changes-for($_this-button-color, true);

		&:hover {
			background-color : rgba($_this-button-color, 0.1) !important;
		}
		&:focus {
			background-color : rgba($_this-button-color, 0.125) !important;
		}
		&:active {
			background-color : rgba($_this-button-color, 0.25) !important;
		}
	}
	&.rounded, &.round {
		border-radius : $rounded-button-border-radius;
	}
	&.block {
		display : block !important;
		margin : 1em 0 !important;
		width : 100% !important;
		line-height : 2.5;
	}
	&.icon-button {
		padding : .5em 1em;
		box-sizing : border-box !important;
		display : inline-flex;
		flex-direction : row;
		align-items : stretch;
		align-content : stretch;
		justify-content : flex-start;
		gap: 0.5em;
		*,*::before,*::after {
			box-sizing : border-box !important;
		}
		.icon-wrapper {
			//vertical-align : baseline;
			//vertical-align : middle;
			max-width : 1em;
			width : 1em;
			//height : 100%;
			height : 1em;
			display : block;
			//outline : red solid 1px;
			//height : auto;
			svg {
				//outline : red solid 1px;
				width : 1em;
				height : 1em;
				vertical-align : middle;
				//vertical-align : baseline;
				display : block;
			}
		}
		.text-content {
			flex-grow : 1;
			//vertical-align : baseline;
			line-height : 1 !important;
			//outline : red solid 1px;
			height : 1em;
			display : block;
		}

		&.outline {
			svg {
				color: currentColor !important;
				* {
					fill: currentColor;
				}
			}
		}
	}
	&.icon-only-button {
		box-sizing : border-box !important;
		min-width : unset !important;
		//$_width: calc((1em) * 2);
		text-align : center;
		display : inline-flex;
		align-items : center;
		align-content : center;
		justify-content : center;
		//width : $_width  !important;
		//height : $default-inline-butt on-width !important;
		//max-height : $default-inline-button-width !important;
		margin : 0 !important;
		padding : .5em !important;
		line-height :1 !important;
		*, *::before, *::after {
			box-sizing : border-box !important;
		}

		//height : $_width !important;
		font-size : 1em !important;
		//padding-top : .25em !important;
		//padding-bottom : .25em !important;
		//line-height : 2 !important;
		vertical-align : baseline !important;
		.icon-wrapper {
			width : 100%;
			height : 100%;
			position : relative;
			min-height : 1em;
			min-width : 1em;
			max-width : 1em;
			max-height : 1em;
			text-align : center;
			margin : 0;
		}
		svg {
			position : absolute;
			//vertical-align : baseline !important;
			line-height : 0 !important;
			padding : 0 !important;
			margin : 0 auto !important;
			//margin-top : .75em !important;
			text-align : center !important;
			//max-height : $default-inline-button-width !important;
			width : 1em !important;
			height : 1em !important;
			max-height : 1em;
			top : 0;
			left : 0;
			right : 0;
			bottom : 0;

		}
	}
}

// Apply styles to outline buttons and outline-button-like elements
#{$button-element-selectors}.outline {
	//@include outline-button();
	//&.primary { @include outline-button($primary-button-color); }
	//&.secondary { @include outline-button($secondary-button-color); }
}

// Styles for a class meant for dangerous or destructive actions
.danger {
	background-color : tomato;
	border-color : tomato;
	color: white;
	@include set-button-background-color(tomato);
	svg {
		font-weight : bold;
		g, path, rect {
			fill: currentColor;
			stroke-width: 4px !important;
		}
	}
}

// Accessiblilty for Hidden elements - as a class
.visually-hidden {
	clip        : rect(0 0 0 0);
	clip-path   : inset(50%);
	height      : 1px;
	overflow    : hidden;
	position    : absolute;
	white-space : nowrap;
	width       : 1px;
}

// Accessiblilty for hidden elements - using [aria-hidden] attribute
[aria-hidden="true"] {
	display : none;
}

// Accessiblilty for hidden elements - using [hidden] attribute
[hidden] {
	display : none !important;
}

// Accessiblilty for hidden elements - using 'screen-reader only' class
.sr-only {
	border            : 0 !important;
	clip              : rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path : inset(50%) !important;
	clip-path         : inset(50%) !important;
	height            : 1px !important;
	overflow          : hidden !important;
	margin            : -1px !important;
	padding           : 0 !important;
	position          : absolute !important;
	width             : 1px !important;
	white-space       : nowrap !important;
}

// elements that should use a fixed-width typeface
samp,code,pre,kbd {
	font-family : "Fira Code", Fira Code, firacode, "firacode", menlo, monospace;

}

// Callout notice class style
.callout-notice {
	background-color : #1E1E1E;
	color: white;
	border-radius : 16px !important;
	padding : 1em;
	h1, h2, h3, h4, h5, h6 {
		color: white;


	}
	h4 {
		margin-bottom : 0 !important;
	}
	.code-snippet {
		margin-top : 1rem !important;
		margin-bottom : 0 !important;
	}
	samp, code, pre, kbd {
		color: cornflowerblue;
		font-weight : 600;
	}
}
